#img_contact{
  height: 400px;
  width: 400px;
}

#contact_1{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
input{
    padding: 20px;
    border: 2px solid black;
    width: 400px;
}
textarea{
    padding: 10px;
    height: 200px;
    width: 400px;
    border: 2px solid black;
}
input::placeholder{
    font-size: 20px;
}
input[type="text"]{
    font-size: 20px;
}
textarea::placeholder{
    font-size: 20px;
}
textarea[type="text"]{
    font-size: 20px;
}
#submit_btn{
    background: none;
    border: none;
    height: 50px;
    width: 200px;
    font-size: 20px;
    background-color: black;
    color: white;
    border-radius: 20px;
}
@media only screen and (max-width:900px) and (min-width:450px){
    #contact_1{
        display: block;
        text-align: center;
    }
    input{
        width: 350px;
    }
    textarea{
        width: 350px;
    }
    #img_contact{
        height: 400px;
        width: 300px;
      }
      
}
@media only screen and (max-width:450px) and (min-width:200px){
    #contact_1{
        display: block;
        text-align: center;
    }
    input{
        width: 250px;
    }
    textarea{
        width: 250px;
    }
    #img_contact{
        height: 400px;
        width: 300px;
      }
      
}