#image{
    height: 400px;
    width: 300px;
    border: 2px solid black;
    padding: 40px;
}
#details{
    width: 100vw;
    min-height: 500px;
    display: flex;
    justify-content: center;
    margin: 100px 0;
}
#description{
    width: 550px;
    margin-left: 100px;
   
}
#des_1{
    font-size: 20px;
    
}
@media only screen and (max-width:1230px) and (min-width:960px){
    #details{
        display: block;
        text-align: center;
    }
    #description{
     
        margin-left: 300px;
    }
}
@media only screen and (max-width:960px) and (min-width:400px){
    #details{
        display: block;
        text-align: center;
       font-size: 10px;
    }
    #description{
        width: 300px;
        margin-left: 100px;
        font-size: 15px;
    }
}
@media only screen and (max-width:400px) and (min-width:200px){
    #details{
        display: block;
        text-align: center;
       font-size: 10px;
    }
    #description{
        width: 200px;
        margin-left: 40px;
        font-size: 15px;
    }
    #image{
        height: 400px;
        width: 250px;
        padding: 20px;
    }
}